body {
    background-color: rgb(186, 156, 192);  
    color:white;
    font-family: Helvetica Neue, Helvetica;
    margin: 0;
    padding: 0;
}

header {
    background-color: rgb(245, 218, 218);
    padding: 20px;
}


ul{
    color: white;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li{
    background-color: rgb(245, 218, 218);
    display: inline-block;
    margin-right: 20px;
    padding: 20px;
}

section {
    padding: 20px;
}

footer {
    background-color: rgb(245, 218, 218);
    padding: 20px;
}

.tp {
    color:rgb(104, 60, 146);
    margin-top: 0px;
    padding-top: 15px;
    text-align: center;
}

h2{
    font-size: 26px;   
}

.autobiografia{  
    font-size: larger;
    padding-bottom: 20px;
    text-align: justify;
}

.hobbie{ 
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

.hobbies{
    margin: auto;
}

img{
    border-radius: 20%;
    display:block;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    width: 300px;
}

.lugar{
    margin-left: auto;
    margin-right: auto;
    font-size: 25px;
    padding-left: 25px;
    padding-right: 10px;
    text-align: center;
    color: black;
}

table{
    border-radius: 5%;
    background-color: rgb(245, 218, 218);
    border: 3px solid white;
    border-collapse: collapse;
    width:25%;
    
}

.fotos{
    margin-left: 150px;
}

.link{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}


#tl{
    text-align: center;
}


button{
    background-color: rgb(104, 60, 146);
    border-radius: 5px;
    display: block;
    height: 70px;
    margin-left: auto;
    margin-right: auto;
    width: 150px; 
}


#frase{
    text-align: center;
    font-style: italic;
    margin-left: auto;
    margin-right: auto;
    padding: 25px 0 20px 0;
    font-size: x-large;
    color:black;

}